<!-- <h1>Reporting Users</h1>
<br/>
<table class="table table-striped table-bordered" style="width:50%">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Role
      </th>
    </tr>
  </thead>
<% @r_users.each do |u| %>
  <tbody>
    <tr>
      <td>
        <%=u.name%>        
      </td>
      <td>
        <%=u.email%>
      </td>
      <td>
        <%= u.role %>        
      </td>
      <td>
        <%=link_to "Assign Projects", { :controller=>"projects", :action=>"assign", :id => u.id } %>
      </td>
    </tr>
  </tbody>
<% end %>
</table> -->
<div style="clear:both"></div>
<div style="float:left;width:50%;margin-top:60px">
<div style="width:40%;float:left;">
    <b>Reporting  Users</b><br/>
    <%= collection_select(:users, :id, @r_users, :id, :name, options ={:prompt => "-Select Users"}, :class =>"project", :multiple => true, :style => "height:100px;width:100%;") %>
  </div>
  <div style="width:60%;float:left;">
    <b>Available Projects</b></br>
<%= collection_select(:project, :id, @projects, :id, :name, options ={:prompt => "-Select a project"}, :class =>"project", :multiple => true, :style => "height:100px;width:66.66%;float:left;") %>
  </div>
<input type="button" class="btn btn-medium btn-primary" value="Assign Project" style="margin-top:20px;margin-left:200px" id="assign_project">
</div>

<div class="pull-left" style="width:40%;margin-left:5px" id="projects_assigned">
  <table class="table-bordered" style="width:100%">
    <caption><h3>Project User Heirarchy</h3></caption>
  <thead>
    <tr>
      <th>
        Project
      </th>
      <th>
        User
      </th>
    </tr>
  </thead>
<% @project_users.each do |puk,puv| %>
  <tbody>
    <tr style="border-top:1px solid #000">
      <td>
        <%=Project.find(puk).name %>        
      </td>
      <% puv.each do |v| %>
      <tr>
        <td style="border:none !important">
        
        </td>
        <td>
          <%=User.find(v.user_id).name %>
        </td>
    </tr>
      <% end %>
    </tr>
  </tbody>
<% end %>
</table>
</div>
<script>
  $(document).ready(function(){
    $("#assign_project").click(function(){
      users = $("#users_id").val();
      projects = $("#project_id").val();
      if(users.length == 0){
        alert("Please select users");        
        return false;
      }
      if( projects.length ==  0){
        alert("Please select projects");
        return false;
      }
      dataStr = "users="+users+"&projects="+projects;
      $.ajax({
              method: 'POST',
              url: '/assignProjects',
              data : dataStr,
              success: function(dt){
                $("#projects_assigned").html(dt);
              }
      });
    });
  });
</script>