<% if !@todayRecs.empty? %>
  <% @todayRecs.each do |t| %>
      <%pid = t.project_data_id.to_i%>

    <%if !ArchievedProject.where(:project_data_id => t.project_data_id.to_i).blank?%>
		<%project = ArchievedProject.where(:project_data_id => t.project_data_id.to_i).first%>
	    <tr id="lastRow" class="permanent_lock">
      <td>
   		<div class="project"><%=project.name%></div>
      </td>
      <td>
        <%= t.hours %> 
      </td>
      <td colspan=2>
     	Archived
      </td>

    </tr>
		<%elsif ProjectData.find(pid).locked || !ProjectData.find(pid).active%>
		<%project = ProjectData.find(pid)%>
		    <tr id="lastRow" class="permanent_lock">
      <td>
   		<div class="project"><%=project.name%></div>
      </td>
      <td>
        <%= t.hours %> 
      </td>
      <td colspan=2>
     	Locked by Admin
      </td>

    </tr>
	<%else%>
	    <tr id="lastRow">
      <td>
        <%=hidden_field_tag 'hiddenId', t.id%>
        <%= select_tag 'project', options_for_select(@selectArray,t.project_data_id), :disabled => true, :class => "project" %>
      </td>
      <td>
        <input id="today" disabled="true" name="today" type="text" placeholder="Hours" class="today" value=<%= t.hours %>  />
      </td>
      <td>
        <input type="button" class="btn btn-success save-btn" id="save" value="Edit"></input>
      </td>
      <td>
        <input type="button" class="btn btn-large btn-danger remove-btn" id="remove" value="Remove"></input>
      </td>

    </tr>
  <% end %>
  <%end%>

<% else %>
  <tr id="lastRow">
    <td class="pHolder">
      <input type="hidden" id="hiddenId" name="hiddenId" class="hiddenId" />
     	<%= select_tag 'project', options_for_select(@selectArray), :class => "project" %>

    </td>
    <td id="timeLock">
      <input id="today" name="today" type="text" placeholder="Hours" class="today" />
    </td>
    <td>
      <input type="button" class="btn btn-success save-btn" id="save" value="Save"></input>
    </td>
    <td>
      <input type="button" class="btn btn-large btn-danger remove-btn" id="remove" value="Remove"></input>
    </td>
  </tr>
<% end %>

<script type="text/javascript">

	
$(document).ready(function() {


/*    $(".save-btn").click(function(){

        input =  $(this);
    	if( input.closest('.permanent_lock').length == 0) {

        var todayValue = $("#txtDate").val();
        var ip1 = input.parent().prev().children('input');
        var sp1 = input.parent().prev().prev().children('select');
        var hd1 = input.parent().prev().prev().children('input');
        
        if(input.attr('value') == "Edit"){
          input.attr('value', "Save");
          ip1.attr('disabled',false);
          sp1.attr('disabled',false);
        }
        else{
          if(ip1.val() == '' || ip1.val() == undefined){
            alert("Please enter the no. of hours");
            return false;
          }
          if(sp1.val() == '' || sp1.val() == undefined){
            alert("Please select the project");
            return false;
          }
          if (validateHours(ip1.val()) == false) {
          	return false;
          }
          var svC = confirm("Are you sure want to save the changes?");
          if(svC == true){
            var hrs = ip1.val();
            var prj = sp1.val();
            dataStr = "project=" + prj + "&today=" + todayValue + "&hours=" + hrs + "&id="+ hd1.val();
            $.ajax({
              method: 'POST',
              url: '/saveDayTimesheets',
              data : dataStr,
              success: function(dt){
                alert(dt.msg);
                ip1.prop('disabled', true);
                sp1.prop('disabled', true);
                input.attr('value','Edit');
                hd1.val(dt.id);
				reloadPieProject();
				//runLocks();
              }
            });
          }
        }
        }
        else {
        	alert('This project has been archived.');
        }
      });

    $(".remove-btn").click(function(){
      		var input = $(this);
   	    	if( input.closest('.permanent_lock').length == 0) {

      		
      		var table = document.getElementById("daytimeTable");
       	 	var noOfRows = table.rows.length;
       	 	var hd1 = input.parent().prev().prev().prev().children('input');
 			var ip1 = input.parent().prev().prev().children();
        	var sp1 = input.parent().prev().prev().prev().children('select');
        	
            if(hd1.val() == '' || hd1.val()== "" || hd1.val() == undefined){
            	if(noOfRows > 2){
			    	input.parents("tr").remove();
			    }

            }
            else{
              var svC = confirm("Are you sure want to delete?");
	          if(svC == true){
              dataStr = "id="+hd1.val();
              $.ajax({
                method: 'POST',
                url: '/deleteDayTimesheets',
                data : dataStr,
                success: function(dt){
                  alert(dt.msg);
                  reloadPieProject();
                  if(dt.deleted == true)
                  	if (noOfRows > 2) {
                    	input.parents("tr").remove();
                    }
                    else {
                        ip1.val('');
						sp1.val('');
						hd1.val('');
						input.parent().prev().children().attr('value', "Save");
						ip1.attr('disabled',false);
          				sp1.attr('disabled',false);
                    }
					runLocks();
                }
              });
            }
          }
          }
          else {
          	alert('This project has been archived and can not be removed.');
          }
        });
    	function reloadPieProject() {
    	$('.projectTable').trigger('change');
		$('.pieChart').trigger('change');
    }

    $('.project').each(function() {
        $(this).data('lastValue', $(this).val());
    });

	 $(".project").change(function(){
          select_box_old_val = $(this).data("lastValue");
          select_box_new_val = $(this).val();
          exist = false;
          console.log(select_box_old_val);
          $('.project').not(this).each(function(){
            if(exist == false){
              console.log(select_box_new_val);
              if($(this).val() == select_box_new_val){
                //select_box.val(select_box.data("lastVal"));
                exist = true;
                alert("There is already timesheet for the selected project.You can update that one");
              }
            }
          });
          if(exist == true){
            $(this).val($(this).data("lastValue"));
          }
          else{
            $(this).data("lastValue",$(this).val());
          }
        });
   
*/

    
});

</script>