<style>
  body { 
      background: white; 
      font-size: 12pt; 
    }

    #menu { 
      display: none; 
    }

  #wrapper, 
    #content { 
      width: auto; 
      margin: 0 5%; 
      padding: 0; 
      border: 0; 
      float: none !important; 
      color: black; 
      background: transparent none; 
    }

    div#content { 
      margin-left: 10%; 
      padding-top: 1em; 
      border-top: 1px solid #930; 
    }

    div#mast { 
      margin-bottom: -8px; 
    }

    div#mast img { 
      vertical-align: bottom; 
    }

    a:link, 
    a:visited { 
      color: #520; 
      background: transparent; 
      font-weight: bold; 
      text-decoration: underline; 
    }
  
  table tbody tr td{
  	padding-right:50px !important;
  }
  
  table{
  overflow:auto !important;
  width: auto !important;
  }
  
  .table th, .table td { 
     border-top: none !important; 
 }
 .top-buffer { margin-top:20px; }
 
.scrollT {
	overflow:auto;
	height:450px !important;
	padding-bottom:5px;
	margin-top:0px;
}

.projectHours, td.projectHours {
	padding-right: 0px !important;	
	text-align: right;
}
.btn{
    width:100px !important;
   	padding:0;
	margin:0 !important;
	height:25px !important;
	vertical-align:middle !important;
	line-height: 25px !important;
	
}

.signature {
	height: 25px !important;
}


</style>
<% if session[:user_id] %>
  <%@user = User.find(session[:user_id]) %>


  <!-- **************************************************************************** -->


  <div class="container" id="content">
    <!-- Log out button -->


<div class="row" id="wrapper">
	<div class= "col-xs-12 col-md-6">
	         	<b> Employee: </b> <%=@user_name %> 
  <div class=" scrollT">
		<div id="dvData">
    <table class="table table-condensed table-responsive" id="timeTable">     
       <thead>
       <th>
          Date
        </th>
        <th>
          Project
        </th>
        <th class="projectHours">
          Hours
        </th>        
      </thead>
      <tbody>
        <% @monthdays.each do |t|%>              
        <%if t.date.to_date == t.date.to_date.beginning_of_week && 
        		 t.date.to_date.beginning_of_week <= t.date.to_date.end_of_month %>

        	<tr class="top-buffer"><td></td><td></td><td></td></tr>
        <%end%>
    	<%if t.hours != 0 %>
       <tr>
        	<td><%=Date.strptime(t.date.to_s, '%Y-%m-%d').strftime("%m/%d/%Y")%></td>
          <td>
            <% if !t.project_data_id.blank? %>
              <% @p = ProjectData.find(t.project_data_id)%>
              <%= @p.name %>
            <% end %>
          </td>
          <td class="projectHours">
            	<%=t.hours%>
          </td>
        </tr>  
        <%end%>
        <% end %>
        </tbody>
        </table>
        </div>
        <b class="pull-left">Total No of Hours: <%= @total_hours%></b> <br/><br />
        <u><div class="signatureBottom"></div></u><br/>
        <a href="#" class="export btn btn-sm btn-default">Download CSV</a>
        <a href="#" class="export btn btn-sm btn-default" onclick="window.print()">Print</a>
    <!-- TODO : Show the Manager Signature -->
        </div>
        </div>
        
  <% end %>
  
  