<% if session[:user_id] %>
  <%@user = User.find(session[:user_id]) %>	




	<div class="row">
<%if @viewable_users.length > 0%>
	<div class="col-xs-2">
	<div class="user_list">
<div class="list-group">
<div class="list-group-item btn btn-default user_report_group active" id="<%=@user.id%>"><b><%=@user.name%></b></div>
<%@viewable_users.each do |u| %>
<div class="list-group-item btn btn-default user_report_group " id="<%=u.id%>"><%=u.last_name%>, <%=u.first_name%></div>
<%end%>
</div>
</div>
</div>
		<div class="col-xs-10"> 
<%else%>
<div class="col-xs-12">
<%end%>
 			<table class="firstRow">
 				<tr>
                	<td><div class="labelDates">From:</div></td>
                	<td> <input class = "datePicker" id="txtDate"/><input class="datePicker hidden" id="altDate"/></td>
                  	<td><div class="labelDates"> to:</div></td> 
                  	<td> <input class = "datePicker" id="txtDate2"/><input class="datePicker hidden" id="altDate2"/></td>
				  	<td> <label class="prLabel">View: </label></td>
					<td> <select class="selectpicker projectReport"> 
						<option value="weekly" >Weekly</option>
                  		<option value="monthly" >Monthly</option>  
                   		<option value="yearly" >Yearly</option>
                   		</select>
                   	</td> 
                   <td>	
                   <div class="btn-group btn-group">	
  					<button type="button" class="btn btn-default changeDate changeDatePrev" value="prev">Prev</button>
  					<button type="button" class="btn btn-default changeDate changeDateToday" value="today">Today</button>
					<button type="button" class="btn btn-default changeDate changeDateNext" value="next">Next</button>
					</div>
					</td>
 					<td>  <button type="button" class="btn btn-default customView" value="custom">Custom Date Range</button></td>
 					<td>  <button type="button" class="btn btn-default toToday" value="today">Today</button></td>
					<td>  <button type="button" class="btn btn-default backToReg" value="custom">Back</button></td>
				</tr>
            </table>
			<div class=" table-responsive">
 			<table class="table  projectTable table-condensed table-bordered table-hover">	
            	<tr></tr>
          	</table>
			</div> <!-- table responsive-->
	</div>    		

	<div class="col-xs-10"><div class="pieChart center" id="piechart" style="width: 900px; height: 275px;"></div></div> 
	</div>    		

<style>

.table {
width:auto !important;
}

.firstRow{
	padding:20px !important;
}

.customView { 
	height:25px !important;
	line-height:12.5px;
}
	
	
.projectReport {
	height:25px !important;
	width:85px;
	padding: 0px !important;
}

.projectCell{
    width: 333px !important;
}

.changeDate, .backToReg, .toToday{
	height: 25px !important;
	padding:5px;
	margin:0 !important;
	line-height: 12.5px;
	}
#txtDate, #txtDate2 {
   	width:90px !important;
   	padding:0;
	margin:0;
	height:25px;
}



.user_report_group:not(.active) {
	padding: 5px !important;
}

.user_report_group {
	text-align: left !important;
    text-overflow: ellipsis;
    padding-left: 5px;
    overflow-x: hidden;

}

		
</style>
  
<script type="text/javascript">

  $(document).ready(function(){
              	grabColors();
              	var selectedUser = "<%=@user.id%>";
              	
$('.user_report_group').click(function() {
    var obj = $(this);
    $('.user_report_group.active').removeClass('active');
    obj.addClass('active');
    selectedUser= obj.attr('id');
	$('.projectReport').trigger('change');
  });
  

  
  
  var months = [ "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ];
	var days = {1:"Mon", 2:"Tue", 3:"Wed", 4:"Thu", 5:"Fri", 6:"Sat", 0:"Sun"};
    $("#txtDate").datepicker({ altField:  '#altDate', altFormat: 'yy-mm-dd', 
    	showOtherMonths: true, selectOtherMonths: true, firstDay: 1, changeYear: true,
    	onSelect: function() {
        	var selectedDate = $("#txtDate").datepicker('getDate');
    		$('#txtDate2').datepicker('option', {minDate: new Date(selectedDate)});
		  	if ($('.backToReg').is(":visible")) {
				loadSpanData();
			}
			else {
			  	$('.projectReport').trigger('change');
			}
		 }
		});
		
	$("#txtDate2").datepicker({ altField:  '#altDate2', altFormat: 'yy-mm-dd', 
      showOtherMonths: true, selectOtherMonths: true, firstDay: 1, changeYear: true,
      onSelect: function() {
     	  var selectedDate = $("#txtDate2").datepicker('getDate');
		    loadSpanData();
		  }
		});
		
    $('#txtDate').datepicker('setDate', 'today');
    $('#txtDate2').datepicker('setDate', 'today');
    $('.projectReport').val('weekly');
    $('#txtDate2').hide();
    $('.backToReg').hide();
	  $(".labelDates").hide();
	  $(".toToday").hide();
    $('.changeDatePrev').click( function() { 

    var currentDate = $("#txtDate").datepicker('getDate');
    var	newDate = new Date();
    var changeDay = 0;
    var changeMonth = 0;
    var changeYear = 0;

    if ($('.projectReport').val() == "weekly") {
        changeDay = -7;
     }
    else if ($('.projectReport').val() == "monthly") {
        changeMonth = -1;
      }
    else if ($('.projectReport').val() == "yearly") {
        changeYear = -1;
      }

        newDate.setYear(currentDate.getFullYear() + changeYear);	
        newDate.setMonth(currentDate.getMonth() + changeMonth);	
        newDate.setDate(currentDate.getDate() + changeDay);


      $('#txtDate').datepicker('setDate', newDate);
      $('.projectReport').trigger('change');
    });


$('.changeDateNext').click( function() { 
    var currentDate = $("#txtDate").datepicker('getDate');
	var	newDate = new Date();
	
	var changeDay = 0;
	var changeMonth = 0;
	var changeYear = 0;
	
	if ($('.projectReport').val() == "weekly") {
		changeDay = 7;
	}
	else if ($('.projectReport').val() == "monthly") {
		changeMonth = 1;
	}
	else if ($('.projectReport').val() == "yearly") {
		changeYear = 1;
	}
	
		newDate.setYear(currentDate.getFullYear() + changeYear);	
		newDate.setMonth(currentDate.getMonth() + changeMonth);	
		newDate.setDate(currentDate.getDate() + changeDay);

	$('#txtDate').datepicker('setDate', newDate);
	$('.projectReport').trigger('change');
	
});

$('.changeDateToday').click(function() {
		var	newDate = new Date();
	$('#txtDate').datepicker('setDate', newDate);
	$('.projectReport').trigger('change');

});


$('.toToday').click(function() {
	var	newDate = new Date();
	$('#txtDate').datepicker('setDate', newDate);
	$('#txtDate2').datepicker('setDate', newDate);
	loadSpanData();
});



$('.customView').click( function() {
	$(this).hide();
	var currentDate = $("#txtDate").datepicker('getDate');
	$('#txtDate2').datepicker('option', {minDate: new Date(currentDate)});
	$(".backToReg").show();
	$('.projectReport').hide();
	$('.prLabel').hide();
	$('.changeDate').hide();
	$('.toToday').show();
	$('#txtDate2').show();
	$(".labelDates").show();
	//$('.pieChart').hide();
	loadSpanData();
});

$('.backToReg').click( function() {
	$(this).hide();
    $('#txtDate').datepicker('setDate', 'today');
	$('#txtDate2').hide();
	$(".labelDates").hide();
	$('.toToday').hide();
	$('.projectReport').trigger('change');
	$('.projectReport').show();
	$('.prLabel').show();
	$(".customView").show();
	$('.changeDate').show();
});
		


function loadSpanData () {
	//alert('load');
	// $(".projectTable").find("tr").remove();
    var startDate = $("#txtDate").datepicker('getDate');
    var endDate = $("#txtDate2").datepicker('getDate');	
		dataStr = "start=" + startDate + "&end=" + endDate + '&user_id=' + selectedUser; 
			$.ajax({
          		method: 'GET',
          		data: dataStr,
          		url: '/createCustomReport',
          		dateType: 'json',
          		success: function(data){
          			var firstRow = '<thead><tr><th class="projectCell">Project</th><th>Total Hours</th></tr></thead><tbody>';
					$.each(data, function (i, obj) { 
						firstRow += '<tr><td>' + obj.projectName + '</td><td>' + obj.projectHours + '</td></tr>';
					});
					firstRow += '</tbody>';

					$('.projectTable').html(firstRow);   
				    $('.pieChart').trigger('change');
          		}
          	});
}


		
  $('.projectReport').change(
		function() {
			$(this).blur();
			var todayValue = $("#altDate").val();
			var viewValue =  $(this).val();
			dataStr = "today=" + todayValue + "&view=" + viewValue + '&user_id=' + selectedUser;
			$.ajax({
          		method: 'GET',
          		data: dataStr,
          		url: '/projectReport',
          		dateType: 'json',
          		success: function(data){
   			     	$(".projectTable").find("tr").remove();
						$.each(data, function (i, obj) { 
							var totalHours = new Array();
							if (obj.dates) {
							   	
							   	var firstRow = '<tr><td class="projectCell">Project</td>';
							   	$.each(obj.dates, function(i, value) {
							   		var date = new Date(value);
							   		var today = new Date();
							   		if (viewValue == "weekly") {
							   			var dateColHead = days[date.getDay()] + "<br/>";
							   			if (today.getDate() == date.getDate() && today.getMonth() == date.getMonth() && today.getFullYear() == date.getFullYear()){
							   				firstRow += '<td style="text-decoration:underline;">' + dateColHead + $.format.date(date, "M/d/yy") + '</td>'
							   			}
							   			else{
							   				firstRow += '<td>' + dateColHead + $.format.date(date, "M/d/yy") + '</td>';
										}
									}
									else if (viewValue == "monthly") {
										var count = i + 1;
										var dateColHead = $.format.date(date, "M/d/yy");
										dateColHead = "Week " + count + "<br /> " + dateColHead;
										if (today.getDate() < date.getDate() || today.getDate() >= (date.getDate() + 7)
											|| today.getFullYear() != date.getFullYear() || today.getMonth() != date.getMonth()) {
											firstRow += '<td>';}
										else{
											firstRow += '<td style="text-decoration:underline;">';
										}
										firstRow += dateColHead + '</td>';
											
									}
									else if (viewValue == "yearly") {
										if (today.getMonth() != date.getMonth() || today.getYear() != date.getYear()) {
											firstRow += '<td>';
										}
										else {
											firstRow += '<td style="text-decoration:underline;">';
										}
										var dateColHead = $.format.date(date, "MMM: yyyy");
										firstRow += dateColHead + '</td>';
									}
									
							   	});
							   	firstRow += '<td>Total</td></tr>';
								$('.projectTable > tbody:last').append(firstRow);   
							}
							
							else if (obj.totals) {
            					totalString = '<tr><td>Total: </td>';
            					for (i = 0; i<obj.totals.length; i++) {
            						totalString += '<td>' + obj.totals[i] + '</td>';
            					}
            					totalString += '</tr>';
            					$('.projectTable > tbody:last').append(totalString);   

            				}
            				else {	
            					$.each(obj, function (key, value) {
            						var backColor = assignColors([[key]]);
            						var nextRow = '<tr><td style="background-color:'+backColor+'; color: white";>' + key + '</td>';
            						$.each(value, function (i, info) {
                          wkd_hours = (info.projectHours==null)?"-":info.projectHours
                          nextRow += '<td>' + wkd_hours + '</td>';
            							});
            						nextRow += '</tr>';
            						$('.projectTable > tbody:last').append(nextRow);   
								});
							}


								
								
							 }); 
								
            	
            		
            		
            		},

            	failure: function(){
              		alert("Unable to load the today values.");
           		}
        	});
		    $('.pieChart').trigger('change');

		
		});
		


$('.pieChart').change(function() {
		var todayValue = $("#altDate").val();
		var endValue = $("#altDate2").val();
		var viewValue = $('.projectReport').val();
    	if ($('.backToReg').is(":visible")) {
        	dataStr = "today=" + todayValue + "&end=" + endValue + "&user_id=" + selectedUser;
        }
        else{
			dataStr = "today=" + todayValue + "&view=" + viewValue + "&user_id=" + selectedUser;
		}
        $.ajax({
          method: 'GET',
          data: dataStr,
          url: '/createReportPieChart',
          dataType: 'json',
          success: function(pieHash){
            var newPieHash = [];
            $.each(pieHash,function( key, value ) {
              newPieHash.push([key, value]);
        		});
			if (1 <= newPieHash.length){
            	createPieChart(newPieHash);
          	}          
          	else {
          		createPieChart('blank');  
          	}
          },
          failure: function() { alert('uh oh');}
        });
      });
      
      
  	
 $('body').on('keydown', function(event) {
    	if (event.which == 37) {
    		event.preventDefault();
			$('.changeDatePrev').trigger('click');			
   		 } 
   		 else if (event.which == 39) {
			event.preventDefault();
			$('.changeDateNext').trigger('click');			
        	}
        else if (event.which == 38) {// up
    		event.preventDefault();
  			var obj = $('.user_report_group.active');
  			if (obj.length == 0) { //user is ga
  				return false;
  			}
  			else {
				var next = obj.prev();
				 if (next.length > 0) {
					obj.removeClass('active');
					next.addClass('active');
					selectedUser= next.attr('id');
				}
				else {
					var last = $('.user_report_group').last();
					obj.removeClass('active');
					last.addClass('active');
					selectedUser= last.attr('id');
				}
			$('.projectReport').trigger('change');
			}
		}
		else if (event.which == 40) { //down
    		event.preventDefault();
  			var obj = $('.user_report_group.active');
  			if (obj.length == 0) { //user is ga or cannot view other data
  				return false;
  			}
  			else {  			
				var next = obj.next();
				if (next.length > 0) {
					obj.removeClass('active');
					next.addClass('active');
					selectedUser= next.attr('id');
				}
				else {
					var first = $('.user_report_group').first();
					console.log(obj);
					obj.removeClass('active');
					first.addClass('active');
					selectedUser= first.attr('id');		
				}		
				$('.projectReport').trigger('change');
			}
		}	
		
    });


//	$('.pieChart').trigger('change');
	$('.projectReport').trigger('change');

    });

  </script>
<%end%>
