<style>
 
.sub {

position:fixed;
bottom:30px;
right:5px;
}
 table tbody tr td{
  	padding-right:50px !important;
  }
  
  table{
  overflow:auto !important;
  width: auto !important;
  }
  
  .table th, .table td { 
     border-top: none !important; 
 }
 .top-buffer { margin-top:20px; }
 
.scrollT {
	overflow:auto;
	height:450px !important;
	padding-bottom:5px;
	margin-top:0px;
}

.projectHours, td.projectHours {
	padding-right: 0px !important;	
	text-align: right;
}
.btn{
    width:100px !important;
   	padding:0;
	margin:0 !important;
	height:25px !important;
	vertical-align:middle !important;
	line-height: 25px !important;
}
a.btn {
	color: white !important;
}


    
.flash-container {
    height: 50px;
    padding: 0px;
    margin-top: 10px;	
    margin-bottom: 10px;
}

.keep-flash {
    width: 100%;
    }



</style>
<% if session[:user_id] %>
  <%@user = User.find(session[:user_id]) %>
<div class="col-xs-12 flash-container">
	<% flash.each do |key, value| %>
		    <div class="keep-flash <%=flash_class(key)%> pull-right"> 
                          <div class="hideThis"><%= value %> <button class="btn btn-sm btn-default pull-right" id="close-flash">Close</button></div>
              </div> 
              <% end %>
</div>
	<div class= "col-xs-12 col-md-6">
  <div class=" scrollT">
		<div id="dvData">
    <table class="table table-condensed table-responsive" id="timeTable">
      <thead>        
        <th>
          Date
        </th>
        <th>
          Project
        </th>
        <th style="text-align:right;">
          Hours
        </th>        
      </thead>
      <tbody>
        <% @monthdays.each do |t|%>   
    	    <%if t.hours != 0 %>

        	<%if t.date.to_date == t.date.to_date.beginning_of_week && 
        		 t.date.to_date.beginning_of_week <= t.date.to_date.end_of_month %>

        		<tr class="top-buffer"><td></td><td></td><td></td></tr>
        	<%end%>
        	<tr>
        	<td><%=Date.strptime(t.date.to_s, '%Y-%m-%d').strftime("%m/%d/%Y")%></td>
          	<td>
            <% @p = ProjectData.where(:id => t.project_data_id)[0] || ArchievedProject.where(:project_data_id => t.project_data_id.to_s)[0]%>              
              <%= @p.name %>
          </td>
          <td style="text-align:right;">
            	<%=t.hours%>
          </td>
          </tr> 
      <%end%>
    <% end %>
      </tbody>
    </table>
    </div>
    <b>Total No of Hours: <%= @total_hours%> </b> <br /> <br />
          <%if !@monthlyReport.blank? %>
          	<u><div class="signatureBottom"> <%= (@monthlyReport.approved)? 'Manager Signature: ' + @manager_name : ''%></div></u> <br /> <br />
			<%if @monthlyReport && !@monthlyReport.rejected%>
				<% style = 'disabled'%>
				<% note = 'Report has already been submitted for month' %>		
			<% elsif @monthlyReport.approved%>
				<% style = 'disabled'%>
				<% note = 'Report has already been approved by supervisor for month' %>
			<%end%>		
		<% else %>
				<% style ='' %>
				<% note = '' %>
		<%end%>
			<%=note%> <br />
  			<a class="btn btn-sm btn-success <%=style%>" href="/send_report">Submit</a>
			<!--<a href="#" class="export btn btn-sm btn-default">Download CSV</a>--!>
    </div>
    </div>
    <div class="col-xs-12 col-md-6"><%if !@feedback.nil? %> <%=@feedback%><%end%>
    </div>    
  <script>
  //for each element that is classed as 'pull-down', set its margin-top to the difference between its own height and the height of its parent
	
	$(document).ready(function () {
 	var months = [ "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ];
	$('.pull-down').each(function() {
    	$(this).css('margin-top', $(this).parent().height()-$(this).height())
	});
      function exportTableToCSV($table, filename) {

        var $rows = $table.find('tr'),

            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('th, td' );
				
                return $cols.map(function (j, col) {
                    var $col = $(col),
                        text = $col.text();

                    return text.replace('"', '""'); // escape double quotes

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"',

            // Data URI
            csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

        $(this)
            .attr({
            'download': filename,
                'href': csvData,
                'target': '_blank'
        });
    }

    // This must be a hyperlink
    $(".export").on('click', function (event) {
        // CSV
        var date = new Date();
        alert(date);
        var fileName = '<%=@user.name%>' + ': ' + months[date.getMonth()]+', ' + date.getFullYear() + '.csv';
        alert(fileName);
        exportTableToCSV.apply(this, [$('#dvData>table'), fileName]);
        
        // IF CSV, don't do event.preventDefault() or return false
        // We actually need this to be a typical hyperlink
    });
  
  $('#close-flash').click(function() {
  
  	$('.keep-flash').remove();
  
  }); 
  });
  </script>
  <% end %>
  
  