<div class="weeklyHourTracker pull-right"><%=@weeklyTotal%>/<%=@requiredHours%></div><br />
<table class="table projectTable currentWeek">
<tbody>
<tr class= "trWidth">
<%@dateSections.each do |day, projects|%>

<td class="cellClick <% if day.to_date == Date.today.to_date %> todayClass <%end%> <%if @selected_date == day.to_date%> selectedDay <%end%>" id="<%=projects[:standJTime]%>"> 
<%=day.strftime("%a: %m/%d/%Y")%><br />
<div class="btn-group-vertical">
<%projects.each do |key1, value|%>
	<%if key1.to_s != 'dayTotal' && key1.to_s != 'standJTime'%>
<button type="button" class="btn btn-sm btn-default pTableBtn" 
	style="background-color:<%=@project_colors[key1.to_s]%>; color: white;" 
	id="<%=value[:id]%>"><span class="pTableInfo"><%=key1%><br />
												<%=value[:hours]%>
						</span>
</button>
	<%end%>		
<%end%>
</div>
<div class="dailyHourTotals pull-right"><%=projects[:dayTotal]%><%if !@user.ga%>/<%if day.to_date.friday?%>5
                                           <%elsif day.to_date.saturday? || day.to_date.sunday?%>0
                                           <%else%>8.75<%end%><%end%></div>

</td>
<%end%>
</tr>
</tbody>
</table>


