<!DOCTYPE html>
<html>
	<head>
		<title>Time Tracker</title>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "common_functions" %>
    <%= stylesheet_link_tag    "common_styles" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    	
    <script src="/assets/jquery.jqGrid.src.js" ></script>
    <script src="/assets/jquery.periodicalupdator.js" ></script>     
	</head>
<body>
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Help Manual</h4>
            </div>
            <div class="modal-body">
                  <iframe id="help_manual_frame" width="100%" height="100%" src="/assets/time_input_of_Effort_Tracker.pdf"></iframe>
            </div>
<!--             <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<div class="container-fluid" id="body">
    <table id="grid"></table>
				<div class="row-fluid" id="whitey">
  <% if !session[:user_id].nil? && User.exists?(:id => session[:user_id]) %>
  <%@current_user = User.find(session[:user_id])%>
  <%@permissions = session[:permissions]%>
  <%@roleAllows = session[:roleAllows]%>
  <% if !current_page?('/Client')%>
      <% if !@current_user.client%>
      <div class="row nav-pill-container">
        <div class='col-xs-12 col-md-5'>
            <ul class="nav nav-pills">
                <li class="<%= is_active?('/welcome/index') %>" > <a class="navPill" href="/welcome/index">Time Input</a>
                </li>
                <li class="<%= is_active?('/TimeSummaries') %>"><a class="navPill" href="/TimeSummaries">Time Summaries</a></li>
              
                  <% if submit_report_blink? && !current_page?('/submit_report')%>
                    <%if cookies[:count].to_i <= 4 %>
                    	<%submitClass = 'blink'%>
                    <%else%>
                    	<%submitClass= 'blinkedOut'%>
                    <%end%>
                  <% else%>
                    <%submitClass=''%>
                  <%end%>
                  <%if show_submit_report? && !new_employee_month?(session[:user_id])%>
                  <li class="<%= is_active?('/submit_report') %>"><a class="<%=submitClass%> navPill" href="/submit_report">Submit Reports</a></li>
                  <%end%>
                  <%if @current_user.time_sheet_collaborator == true %>
                      <li class="<%= is_active?('/time_sheet_reports') %>"><a class="navPill" href="/time_sheet_reports">Time Sheet Reports</a></li>
                  <%end%>
                  <%if @current_user.time_sheet_manager %>
                      <li class="<%= is_active?('/tsmanageReports') %>"><a class="navPill" href="/tsmanageReports">Manage Reports</a></li>
                  <% end %>
             </ul>
         </div>
    
    <div class='col-xs-12 col-md-7'>
     <ul class="nav nav-pills">
       <li class="pull-right">
                <!--  <% if @current_user.admin == true%>
                    <a href="/assets/EffortTrackerManualAdmin.docx" onmouseover="this.style.backgroundColor='#FFF'" >
              <% elsif @current_user.time_sheet_manager == true %>
              <a href="/assets/EffortTrackerManualtsm.docx" onmouseover="this.style.backgroundColor='#FFF'">
                <% elsif @current_user.time_sheet_collaborator == true %>
                <a href="/assets/EffortTrackerManualtsc.docx"  onmouseover="this.style.backgroundColor='#FFF'">
                  <% elsif @current_user.work_order_admin == true %>
                <a href="/assets/EffortTrackerManualWoAdmin.docx" onmouseover="this.style.backgroundColor='#FFF'">
                  <% elsif @current_user.manager == true %>
                  <a href="/assets/EffortTrackerManualManager.docx" onmouseover="this.style.backgroundColor='#FFF'">
                    <% elsif @current_user.role =="Classified" || @current_user.role =="Unclassified"%>
                    <a href="/assets/EffortTrackerManualEmployee.docx" onmouseover="this.style.backgroundColor='#FFF'">
                      <% elsif @current_user.client == true %><a href="/assets/EffortTrackerManualWoAdmin.docx" onmouseover="this.style.backgroundColor='#FFF'">
                      <% else @current_user.role =="GA" %><a href="/assets/EffortTrackerManualGa.docx" onmouseover="this.style.backgroundColor='#FFF'"> 
                <%end%>        -->
         <a href="#help" onmouseover="this.style.backgroundColor='#FFF'" id="help_link" onclick="loadHelpManual()">
                      <%=image_tag('/assets/questionMark.png', :class=> 'helpButton', :style => "height: 25px ! important; margin-top: -4px;")%></a></li>
<!--        <li class="dropdown pull-right"> 
    	<a href="#" target="_blank" onmouseover="this.style.backgroundColor='#FFF'" data-toggle="dropdown" class="dropdown-toggle">
        	 <%=image_tag('/assets/notification-image.png', :class=> 'noticeButton', :style => "height: 25px ! important; margin-top: -4px;")%></a>
     
                 <ul class="dropdown-menu">
            		<li><a class="dropdown-option" href="#">Add Stuff</a></li>
				</ul>
     
        </li> --!>
        
        
     	<li class="pull-right"> <a class="navPill" href="/signout">Log Out (<%=@current_user.first_name%>)</a></li>
     
        <%if @current_user.admin || @current_user.work_order_admin || @current_user.project_admin || @roleAllows[:allow_admin] %>
        	<li class="dropdown pull-right <%if (params[:controller] == 'admin' || params['controller'] == 'work_order_admin') && !current_page?('/manager') &&
        			!current_page?('/manageReports') || 
        			(params['controller'] == 'projects' && !current_page?('/ProjectsPersonnel'))%> active <%end%>">
          	<a class="dropdown-toggle navPill" data-toggle="dropdown" href="#">Admin Options <span class="caret"></span></a>
            	<ul class="dropdown-menu" role="menu">
              	<% if @current_user.admin || @roleAllows[:admin_users]%>
              	  	<li><a class="dropdown-option" href="/admin/users">Users</a></li>
              	  <%end%>
              	  <% if @current_user.admin || @current_user.project_admin || @roleAllows[:admin_projects]%>
              	  	<li><a class="dropdown-option" href="/admin/projects">Projects</a></li>
              	<%end%><!-- end admin check --!>
              	 <% if @current_user.work_order_admin%>
              	  	<li><a  class="dropdown-option" href="/work_order_admin">Work Orders</a></li>
              	  	<li><a  class="dropdown-option" href="/WorkOrderTracking">Work Tracking</a></li>
              	  <%end%> <!-- end work order admin check -->
              	 </ul>
            </li>     
	


              <%end%> <!-- end admin or work_order_admin check -->
       
       <% if @current_user.manager  || @roleAllows[:allow_manager_home]%>
              	<li class="dropdown pull-right <%=(current_page?('/manager')) ? 'active': (current_page?('/manageReports')) ? 'active':''%>">
              	 <a href="#" class="dropdown-toggle navPill" data-toggle="dropdown">Manager Options <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li><a class="dropdown-option" href="/manager">Manager Home</a></li>
                  	<% if @current_user.manager%>
                  	<li><a class="dropdown-option" href="/manageReports">Manage Reports</a></li>
                  	<%end%>
                  </ul>
            </li>
              <%end%> <!-- end manager check -->
    	<li class="pull-right <%= is_active?('/ProjectsPersonnel') %> "> <a class="navPill" href="/ProjectsPersonnel">Projects Personnel</a></li>

    </ul>
    </div>
    </div>

   
    </div>
    <%end%> <!-- check if !current_user.client -->
    <%end%>

<!-- client nav bar -->
<% if @current_user.client %>
    <div class="row nav-pill-container">
      <div class='col-xs-12'>
      <ul class="nav nav-pills">
        <li class="pull-left work-order-home-client"> <a class="navPill" href="/work_orders">Work Orders Home </a> </li>
    	<li class="pull-right"> <a class="navPill" href="/signout">Log Out (<%=@current_user.first_name%>)</a></li>
      </ul>
      </div>
    </div> <!-- nav bar -->
<%end%>
          <div style="clear:both">
          </div>
  <% end %>
 <div class="col-xs-12">
<% if !@current_user.nil? %>    
     <%= auto_session_timeout_js frequency: 15 %>
<%if !@current_user.client %>

<%end%>
<%end%>
</div>
    <div class="col-xs-12 ">
        <% if params[:notice]%>
            <%=params[:notice]%>
        <% end %>
    </div>
    <%= yield %>
  </div>
</div>
</body>
<%= render partial: 'layouts/footer'%>
</html>