<!DOCTYPE html>
<html>
	<head>
		<title>Time Tracker</title>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//www.google.com/jsapi" %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "common_functions" %>
    <%= stylesheet_link_tag    "common_styles" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    	
    <script src="/assets/jquery.jqGrid.src.js" ></script>
    <script src="/assets/jquery.periodicalupdator.js" ></script>     
	</head>
<body>
<!-- Header part is included here.. -->
<div id="">  
  
<div class="container-fluid" id="body">
  <%= render partial: 'layouts/main_header'%>
  <%= yield %>
</div>
</div>
</body>
<%= render partial: 'layouts/footer'%>
</html>